*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Shared Style */

.shared_btn{
    color: #FFFFFF;
    background-color: #469165;
    padding: 13px 17px ;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;

    box-shadow: 3px 3px 10px rgba(66, 60, 60, 0.418);
}

.shared_btn:hover{
    background-color: #E5E7EB;
    color: #000000;
    transition: 0.3s ease;
}

/* Main Style */
.nav_container{
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px auto;
}

.nav_container .nav_list  ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav_list ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
} 

/* Hero Section One Style */
.section_one {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height:80vh;
}

.early_access{
    margin-bottom: 30px;
}

.early_access a{
    text-decoration: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
}

.section_container h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 16px;
}

.section_container .color_text{
    color: #30B868;
}

.section_container p{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
}

.hero_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero_button .btn_with_imge{
    display: flex;
    gap: 10px;
}

.transparent{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

/* Hero Section One Style */
.section_two{
    max-width: 1600px;
    width: 100%;
    margin: 50px auto;
}

.section_two .card_heading{
    text-align: center;
    font-size: 48px;
    color: #001931;
    font-weight:700 ;
    margin-bottom: 16px;
}

.section_two .card_para{
    color: #627382;
    text-align: center;
    line-height: 20px;
    margin-bottom: 40px;
}

/* This is container design */
.sectwo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* This is define define height & widht and background */
.sectwo_container .card{
    width: 300px;
    height: 300px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow:1px 0px 12px 0 rgba(0, 0, 0, 0.08);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* This is card image design */
.card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 12px;
    margin-bottom:16px ;
}

/* This is Card h3 design */
.card h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* This is card Paragraph design */
.card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

/* Third Section Style */
.section_three .solution_box {
    max-width: 1600px;
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.solution_text{
    margin-right: 130px;
}

.solution_text h4{
    color: #469165;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 500;
}

.solution_text h2{
    color: #001931;
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 16px;
}

.solution_text p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}

.solution_text ul{
    list-style: none;
}

/* li disgned for check circle picture */
ul li{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
    color: #001931;
    font-size: 16px;
    font-weight: 500;
}

/* This Is Fourth Section Style */
.section_four{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 80px 20px;
}

.section4_container{
    background-color: #F7F6F2;
    max-width: 1272px;
    width: 100%;
    padding: 60px 20px;
    text-align: center;
    border-radius: 12px;
}

.section4_container h2{
    color: #001931;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section4_container p{
    color: #627382;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
}

/* This is inline-flex */
.section4_container .taugh_button{
    display: inline-flex;
    gap: 12px;
    margin-bottom: 16px;
}

/* This is footer style */
footer{
    max-width: 2200px;
    width: 100%;
    background-color: #001931;
    padding-top: 120px;
    padding-bottom:20px;
    text-align: center;
}

.footer_container{
    max-width: 1272px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_links h5{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: left;
}

.footer_links a{
    background-color: #FFFFFF;
    border-radius: 100%;
    margin-right: 16px;
    padding: 3px;
}

.footer_links i{
    color: #000000;
}

footer .last_d{
    max-width: 1250px;
    width: 100%;
    margin: 80px auto 0px;
}

.last_d hr{
    color: rgb(229, 231, 235);
    opacity: 0.2;
    margin-bottom: 30px;
}

.last_d p{
    color: #FAFAFA;
    font-size: 16px;
    font-weight:400;
}