*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Shared Style */

.shared_btn{
    color: #FFFFFF;
    background-color: #469165;
    padding: 13px 17px ;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.shared_btn:hover{
    background-color: rgba(188, 237, 7, 0.664);
    color: #000000;
    transition: 0.3s ease;
}

/* Main Style */
.nav_container{
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
}

.nav_container .nav_list  ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav_list ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
} 

/* Hero Section One Style */
.section_one {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    height:80vh;
}

.early_access{
    margin-bottom: 30px;
}

.early_access a{
    text-decoration: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
}

.section_container h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 16px;
}

.section_container .color_text{
    color: #30B868;
}

.section_container p{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
}

.hero_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero_button .btn_with_imge{
    display: flex;
    gap: 10px;
}

.transparent{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}